[2021-02-05 14:19] urvashi-code1255 opened #1 "[Frontend]Change the Bootstrap used in the project to CSS"
Deliverables:

Show your designs here or have a discussion how do you want to make it.

[2021-02-05 14:24] urvashi-code1255 opened #2 "Save the Books and Author Names"
Deliverables:

* Save the Books and Author Name in the local storage so that it will display on the screen even after reloading.

[2021-02-05 14:26] urvashi-code1255 opened #3 "Add search functionality to the search bar"
Deliverables:-
* For now, there is no search functionality in the search bar. Add search functionality to it.

[2021-02-05 14:28] urvashi-code1255 opened #4 "Create a Logo For the Website"
Deliverables:-
* Create a good enough logo for the website.

[2021-02-05 14:30] urvashi-code1255 opened #5 "Add Book Button"
Deliverables:-
* Add styling to the Add Button.
* Add Hovering effect.
* Add onactive effect on it.
* Use gradient colors.

[2021-02-05 14:32] urvashi-code1255 opened #6 "Input tags"
Deliverables:-
* Add styling to the input boxes.
* Add onclick border to the input boxes.

[2021-02-06 05:56] harshad71 commented on #4
hi i m harshad  i would like to work on this issue if you suggest to get started?

[2021-02-06 08:27] urvashi-code1255 commented on #4
This repository is for cross winter of code. Are you a part of it?

[2021-02-06 13:08] RitabrataDas343 commented on #5
Hi.. I am Ritabrata Das, a participant of CSOW... Can I get to work on this issue..??

[2021-02-06 13:24] urvashi-code1255 commented on #5
Csow stands for?

[2021-02-06 13:53] RitabrataDas343 commented on #5
Sorry I misspelt.. It would be CWOC.. Cross Winter of Code held by IEEE DTU

[2021-02-06 13:54] RitabrataDas343 commented on #5
Can I get this issue ?

[2021-02-06 14:06] harshad71 commented on #4
no but i would like to be
i m new to open source

[2021-02-06 14:12] urvashi-code1255 commented on #5
Yes Sure @RitabrataDas343 You can start working on it. But as CWOC will start from 13 February so your points will only be calculated if you will send a PR after 13 Feb. So, Please send PR after 13 Feb :)

[2021-02-06 17:30] RitabrataDas343 commented on #5
Ok Ma'am... please assign me this issue on 13 February....

[2021-02-11 08:05] urvashi-code1255 opened #7 "Add Issue(Bug Report and Feature Request) and Pull Request Template"

[2021-02-11 11:05] soumya-badkul commented on #6
Hey, @urvashi-code1255 I would like to work on this issue. can you assign it to me?

[2021-02-11 11:39] urvashi-code1255 commented on #6
Sure @soumya-badkul Go Ahead with this issue.

[2021-02-11 17:29] soumya-badkul commented on #6
Thanks, @urvashi-code1255  do you want a specific styling/color scheme, or should I proceed with whatever looks good?

[2021-02-11 17:32] urvashi-code1255 commented on #6
@soumya-badkul You can try out which looks good to you and show the designs here. Also, please make the PR after 13 Feb for getting scores for it :)

[2021-02-11 17:38] 96RadhikaJadhav commented on #7
@urvashi-code1255  Can I work on it?

[2021-02-11 17:44] urvashi-code1255 commented on #7
Sure @96RadhikaJadhav Go for it :)

Please send the PR after 13 Feb

[2021-02-12 12:36] 96RadhikaJadhav commented on #7
@urvashi-code1255 I'm not a participant of crossWoc. I guess it is opened for crossWoc participants only, so you might like to assign it to someone else :) .

[2021-02-12 12:37] Mahindra-7 commented on #3
@urvashi-code1255 as i am participant of crossWoc please assign it to me

[2021-02-12 12:39] Mahindra-7 commented on #4
as i am participant of crossWoc please assign it to me

[2021-02-12 12:47] urvashi-code1255 commented on #7
Hi @96RadhikaJadhav You can be a part of crosswoc as today is its deadline to register. You can register [here](http://bit.ly/cwoc_student)

[2021-02-12 12:49] urvashi-code1255 commented on #4
Hi @harshad71 You can register for crosswoc [here](http://bit.ly/cwoc_student). Do it ASAP as today is deadline.

[2021-02-12 12:49] urvashi-code1255 commented on #3
Sure @Mahindra-7 Go for it :)

[2021-02-12 13:16] 96RadhikaJadhav commented on #7
@urvashi-code1255  Thank you so much. I have directly registered without checking details as it was deadline today. Also, I tried to find more details about what actually crosswoc is, but couldn't find. If you don't mind, can you please share the link to get me more info about crosswoc if you have any. Thank you again :)!

[2021-02-12 13:16] RitabrataDas343 commented on #5
@urvashi-code1255, can I work on this issue now as a CWOC participant???

[2021-02-12 13:24] urvashi-code1255 commented on #7
@96RadhikaJadhav [This](https://crosswoc.ieeedtu.in/) is CrossWoc Website

[2021-02-12 13:25] urvashi-code1255 commented on #5
Sure @RitabrataDas343 Go for it :)

[2021-02-12 14:49] 96RadhikaJadhav commented on #7
Thank You @urvashi-code1255 .

[2021-02-12 15:11] urvashi-code1255 commented on #7
Shall I assign this to you @96RadhikaJadhav ?

[2021-02-12 15:14] Sloth-Panda commented on #7
hey @urvashi-code1255 would like to make this let me know

[2021-02-12 15:19] 96RadhikaJadhav commented on #7
Yes @urvashi-code1255, sure . I will definitely like to work on it.

[2021-02-12 15:26] urvashi-code1255 commented on #7
Assigning it to you @96RadhikaJadhav

[2021-02-12 15:28] urvashi-code1255 commented on #7
Hey @Sloth-Panda As @96RadhikaJadhav asked first so I assigned this issue to her. There are more issues you can work on. Ask in the issue thread I will assign to you :)

[2021-02-12 15:30] urvashi-code1255 opened #8 "Make Contributing.md, Contribution.md and code of conduct files"

[2021-02-12 15:39] urvashi-code1255 opened #9 "Edit button"
Deliverables:
- Add a Edit button by clicking on which we can edit the name of the books and its author.
- Make the width of the table rows little less.

Screenshot
![Capture](https://user-images.githubusercontent.com/63122133/107788450-6dc30d00-6d76-11eb-91ed-55c973a970d9.PNG)

[2021-02-12 15:41] urvashi-code1255 opened #10 "Delete Button"
Deliverables:
- Add a Delete button by clicking on which we can delete the whole book row.
- Make the width of the table rows little less.

Screenshot
![Capture](https://user-images.githubusercontent.com/63122133/107788450-6dc30d00-6d76-11eb-91ed-55c973a970d9.PNG)

[2021-02-12 16:28] 96RadhikaJadhav commented on #8
@urvashi-code1255  I can work on adding contribution.md and code of conduct files.

[2021-02-12 16:56] urvashi-code1255 commented on #8
Sure @96RadhikaJadhav you can work on contribution.md and code of conduct files.

[2021-02-13 07:12] raman-thakur commented on #9
i would like to work on it as a participant of CWOC. pls assign it to me @urvashi-code1255 !

[2021-02-13 07:13] raman-thakur commented on #10
i would like to work on it as a participant of CWOC pls assign me @urvashi-code1255

[2021-02-13 07:22] urvashi-code1255 commented on #9
Hi @raman-thakur As this is a medium level issue. I am assigning one at a time. When you will send the PR for this one. I will assign other to you :)

[2021-02-13 08:46] raman-thakur commented on #9
okk but pls assign other one also to me only😊

[2021-02-13 09:22] urvashi-code1255 commented on #9
@raman-thakur It depends on how early your PR gets merged :)

[2021-02-13 10:48] raman-thakur commented on #9
What should be the format of editing?? @urvashi-code1255
am I need to fill the empty form with previous values and then ask the user to edit and add the edited one?? @urvashi-code1255

[2021-02-13 10:52] urvashi-code1255 commented on #9
You can do it this way @raman-thakur . Its right 👍

[2021-02-13 10:53] raman-thakur commented on #9
ok thanks

[2021-02-13 11:40] shubhnanda commented on #4
hello maam,
please assign me this work as I am a participant of crossWoc.
I am really keep to work on this project.

[2021-02-13 11:43] urvashi-code1255 commented on #4
Sure Go For it @shubhnanda

[2021-02-13 12:03] suraj10k commented on #2
Hey can I pls get assigned this issue ?

[2021-02-13 12:05] urvashi-code1255 commented on #2
Sure @suraj10k Go for it :)

[2021-02-13 12:09] raman-thakur commented on #10
I am done with the edit button now I want to work on delete so that I can style that properly @urvashi-code1255

[2021-02-13 12:11] urvashi-code1255 commented on #10
Go for it @raman-thakur :)

[2021-02-13 12:13] urvashi-code1255 opened #12 "Design a Creative footer for the website!!"

[2021-02-13 12:15] raman-thakur commented on #12
i want to work on this again!! pls assign it to me

[2021-02-13 12:16] raman-thakur commented on #10
pls check my PR for edit one @urvashi-code1255

[2021-02-13 12:20] Thiyageshkanna commented on #12
Can I work on this project??

[2021-02-13 12:28] urvashi-code1255 commented on #12
Yes sure @Thiyageshkanna You can take up this issue and start with this project. Let me know if you are interested I will assign it to you :)

[2021-02-13 12:28] urvashi-code1255 commented on #12
@raman-thakur You have already assigned two issues. Please work on them first :)

[2021-02-13 12:45] raman-thakur commented on #12
but I have given PR on Edit one
@urvashi-code1255

[2021-02-13 13:03] Thiyageshkanna commented on #12
I can work on this

[2021-02-13 13:09] #9 closed

[2021-02-13 13:17] gupta224 commented on #10
I would like to work on it  as CroosWoc, assign me task

[2021-02-13 16:30] anushka-2001 commented on #4
Hello, I have decent experience in graphic designing, I guess I will be able to deliver what you desire. Please allow me to contribute.

[2021-02-13 16:45] #6 closed

[2021-02-13 16:49] #10 closed

[2021-02-13 16:51] #7 closed

[2021-02-13 16:53] #8 closed

[2021-02-13 16:54] urvashi-code1255 commented on #4
Sure @anushka-2001 You can also work on this issue and show your designs here...

[2021-02-13 16:57] urvashi-code1255 opened #19 "Design Edit and Delete Buttons"
## Describe the solution you'd like
A clear and concise description of what you want to happen.
- Give on focus, on hover, on click effect to the buttons.
- Use some gradient color.

[2021-02-13 17:01] kanak22 commented on #19
can i work on this issue?

[2021-02-13 17:12] urvashi-code1255 commented on #19
Hi @kanak22 Welcome to the project. you can take up this issue. Show a demo of your design here before making a PR!!

[2021-02-13 17:16] urvashi-code1255 opened #20 "Design a Background for the project"

[2021-02-13 17:39] raman-thakur commented on #20
i would like to work on this can I??

[2021-02-13 17:45] raman-thakur commented on #20
what type of design i have to do?
one way is simply by giving a suitable color.
another by setting background image with low opacity.

[2021-02-13 17:46] RitabrataDas343 commented on #20
Can I get this issue as a participant of Cross Winter of Code?

[2021-02-13 19:55] Devenkapoor7303 commented on #20
can i get this issue

[2021-02-14 04:50] urvashi-code1255 commented on #20
Yes a background image with low opacity 👍🏻

[2021-02-14 04:51] urvashi-code1255 commented on #20
@Devenkapoor7303 @RitabrataDas343 please take another issues. As, @raman-thakur asked first so I assigned this to him

[2021-02-14 08:38] VinayakChopra commented on #1
Hey, I have some ideas.
1. Rather than always displaying the add book section, we could have a floating add book button on the bottom right corner.
2.  List the borrowed books within a container on the left side of the page.
3.  I see no due dates on the books, is it something you plan to implement soon?
4. if 3 is yes we can have a card displaying upcoming due dates on the top right just below th

[2021-02-14 08:52] Ayush7614 opened #23 "Add Cross WOC Banner or Poster"
## Is your feature request related to a problem? Please describe.
Add Cross WOC Banner or Poster

## Describe the solution you'd like
Add Cross WOC to  Banner or Poster

[2021-02-14 09:12] urvashi-code1255 commented on #23
Hi @Ayush7614 you can go for it

[2021-02-14 10:22] urvashi-code1255 commented on #1
Hi @VinayakChopra Welcome to the project!!

I like your ideas!! You can open three seperate issues for these three features. Use the "feature request" issue template and explain what you want to implement

[2021-02-14 10:30] Ayush7614 commented on #23
Hi @urvashi-code1255 you can also add crosswoc level because I can do it under crosswoc

[2021-02-14 11:40] urvashi-code1255 opened #24 "Try the logos added in the assets folder!!"
Try the logos and send the pictures here.

[2021-02-14 13:34] soumya-badkul commented on #24
Do we need to position it on navbar?

[2021-02-14 14:06] vedant-kakde commented on #4
I'm CrossWoc participant please assign it to me.

[2021-02-14 14:23] urvashi-code1255 commented on #24
Yes @soumya-badkul

[2021-02-14 15:08] urvashi-code1255 commented on #4
Go for it @vedant-kakde

[2021-02-14 19:39] Devenkapoor7303 commented on #24
can i work on this issue

[2021-02-14 19:41] Devenkapoor7303 commented on #24
or @soumya-badkul  is already working becoz this issue is not assigned

[2021-02-15 03:12] soumya-badkul commented on #24
okay will work on this issue

[2021-02-15 04:17] kmryashasvi opened #27 "Adding more category of books and replacing radio button"
Currently, category of books available in the website are
* Fiction
* Computer Programming
* Cooking

If you allow, I would like to add more categories like
* Action and Adventure.
* Classics.
* Comic Book or Graphic Novel.
* Detective and Mystery.
* Fantasy.

Since the list of book categories will be too long, If you agree, I want to use **Listbox** instead of **radio buttons**,
I will do my job

[2021-02-15 04:28] kmryashasvi opened #28 "Updating webpage title"
I want to replace title of the webpage from **Welcome to Vibe Library** to **Vibe Library**. <br>
Because usually the website is not the only one tab open and hence, very sort area of title is visible, as you can see here <br>
![image](https://user-images.githubusercontent.com/66861659/107905067-a845c900-6f73-11eb-8011-06630265751a.png)  <br>
Name of the library will be visible clearly, instead of

[2021-02-15 04:33] kmryashasvi commented on #28
Perpose of title is not  for salutation, it is for letting the user easily know, where is the website of library when his/her multiple tabs are open.

[2021-02-15 05:27] nilisha-jais commented on #28
I want to work on it

[2021-02-15 05:28] nilisha-jais commented on #27
I want to work on it

[2021-02-15 05:34] kmryashasvi commented on #27
aur mera kya,
maine to issue banaya hai
😔

[2021-02-15 05:35] kmryashasvi commented on #28
I have proposed to work earlier @nilisha-jais

[2021-02-15 05:37] nilisha-jais commented on #27
No problem then you go ahead😅

[2021-02-15 05:42] kmryashasvi commented on #27
yes, I'm waiting for the host to assign it to me if she wants to

[2021-02-15 05:58] urvashi-code1255 commented on #24
Okay I am assigning this to @soumya-badkul

[2021-02-15 06:00] urvashi-code1255 commented on #27
Sure @kmryashasvi You can go ahead!! Replace the radio buttons with select tag

[2021-02-15 06:02] urvashi-code1255 commented on #27
Keep in mind not to change any line other than the issue!!

[2021-02-15 06:03] kmryashasvi commented on #27
And what about adding more categories? @urvashi-code1255
If yes then should I add categories on my own or take recommendations for you?

[2021-02-15 06:04] urvashi-code1255 commented on #28
Hey @kmryashasvi You can go for it!! Do follow the PR template while making a PR!!

[2021-02-15 06:06] urvashi-code1255 commented on #27
Yes @kmryashasvi , add more categories!! Only then we will need a select tag that's why I said that!!

You can add them by your own!

[2021-02-15 06:07] urvashi-code1255 opened #29 "Design a Favicon for the project"
Design a Favicon for the project, Show me the demo here.

[2021-02-15 06:32] kmryashasvi commented on #28
now, this issue can be closed

[2021-02-15 06:34] #28 closed

[2021-02-15 07:25] soumya-badkul commented on #24
@urvashi-code1255 have a look on this,
https://drive.google.com/drive/folders/1fG0_05wyb0dGHtfO1QYMQCUkI7-EBA5H?usp=sharing

[2021-02-15 07:43] #4 closed

[2021-02-15 07:44] urvashi-code1255 commented on #24
Hey @soumya-badkul Try out the logo just added by @vedant-kakde

[2021-02-15 07:53] kmryashasvi commented on #27
Can I change the keyword **type** to **Category**  ?<br>
before :
![image](https://user-images.githubusercontent.com/66861659/107919184-e8677480-6f90-11eb-9ae3-42ecbd28bb0d.png) <br>
after:
![image](https://user-images.githubusercontent.com/66861659/107919251-059c4300-6f91-11eb-8e19-743dc3292ef9.png)

[2021-02-15 08:16] urvashi-code1255 commented on #27
Yes @kmryashasvi

[2021-02-15 08:18] Devenkapoor7303 commented on #29
Can I work on this issue

[2021-02-15 08:42] soumya-badkul commented on #24
@urvashi-code1255
![image](https://user-images.githubusercontent.com/60295974/107923669-d210e700-6f97-11eb-9182-62ca8d157ed7.png)

[2021-02-15 08:45] urvashi-code1255 commented on #29
Sure @Devenkapoor7303 go for it!!

[2021-02-15 08:47] urvashi-code1255 commented on #24
@soumya-badkul Reduce its size and may be change the navbar color

[2021-02-15 09:28] soumya-badkul commented on #24
@urvashi-code1255
![image](https://user-images.githubusercontent.com/60295974/107928339-3040c880-6f9e-11eb-8bf9-5af25cf028ce.png)
![image](https://user-images.githubusercontent.com/60295974/107928400-464e8900-6f9e-11eb-8017-ef897ddd623c.png)

[2021-02-15 13:43] muthuannamalai12 opened #35 "Integrate Welcome Bot"
I can add a welcome bot config file having a proper message that will show up when any user will open up an issue or pull-request for the first time.
For reference, check out: https://github.com/apps/welcome

Please assign it to me as a part of Cross Woc.

[2021-02-15 14:07] raman-thakur commented on #20
pls. review my PR @urvashi-code1255

[2021-02-15 16:46] urvashi-code1255 commented on #35
@muthuannamalai12 Go for it!

[2021-02-15 19:43] manisha-27 commented on #29
I want to work on this issue

[2021-02-16 05:15] kmryashasvi opened #37 "Adding salutation to the webpage"
# before:
![before title](https://user-images.githubusercontent.com/66861659/108021025-ae0adf80-7043-11eb-9840-04e9f20d01ae.png)
# after :
![image](https://user-images.githubusercontent.com/66861659/108021053-bebb5580-7043-11eb-849f-e3356d80697e.png)
# or it can be like this:
![image](https://user-images.githubusercontent.com/66861659/108021176-0215c400-7044-11eb-9fb6-d95d406e2845.png)
## whicheve

[2021-02-16 05:16] kmryashasvi commented on #37
You can suggest to add some another quote or remove the existing one.

[2021-02-16 05:44] urvashi-code1255 commented on #29
Sure @manisha-27 go for it!!

[2021-02-16 05:45] urvashi-code1255 commented on #37
Hey @kmryashasvi I am thinking of doing it using typewriter method

[2021-02-16 05:53] kmryashasvi commented on #37
are you talking about [this](https://css-tricks.com/snippets/css/typewriter-effect/) ?

[2021-02-16 07:49] kmryashasvi opened #38 "Removing gifs from readme files"
As we know that,
A readme file lets you know about the repo as well as attracting contributors to contribute in it.
But, readme file included in your repo is loosing grip in both of the roles, because of the GIFs mentioned in it,
They create an informal image of your repo, which is not good,
In order to maintain formality of your readme file,
Let me remove the gifs and insert some catching sentenc

[2021-02-16 09:59] urvashi-code1255 commented on #37
Yes @kmryashasvi

[2021-02-16 10:00] urvashi-code1255 commented on #38
Hey @kmryashasvi I made readme like this for purpose as I like it!!

I don't want to remove GIFs

[2021-02-16 12:12] kmryashasvi commented on #38
okay
thanks

[2021-02-16 12:12] #38 closed

[2021-02-16 12:18] kmryashasvi commented on #37
okay two questions then
1. what will be the alignment? left or center? (look at the pictures above)
2. You like to make both sentences typewrited or only one? (I suggest, We should typewrite only the quote (thought))

[2021-02-16 12:18] kmryashasvi commented on #37
Then assign it to me.

[2021-02-16 12:19] urvashi-code1255 commented on #37
hey @kmryashasvi Add 4-5 quotes and align both the lines in center.
Add typewriter effect to only quotes!!

[2021-02-16 12:26] kmryashasvi commented on #37
4-5 quotes on the homepage itself?
below the title?
isn't it too much?

[2021-02-16 12:27] kmryashasvi commented on #37
Where do you want me to place those 4- 5 quotes?

[2021-02-16 12:37] kmryashasvi commented on #37
and why aren't you merging [this](https://github.com/urvashi-code1255/College-Library-Website/pull/31) pull request

[2021-02-16 16:45] kanak22 commented on #19
I have to show demo through ss or by recording my screen?

[2021-02-16 20:16] urvashi-code1255 commented on #19
A video will be great!! @kanak22

[2021-02-17 06:01] #35 closed

[2021-02-17 06:04] #23 closed

[2021-02-17 06:07] #27 closed

[2021-02-17 06:55] kmryashasvi commented on #37
Done

[2021-02-17 07:14] kanak22 commented on #19
demo video of buttons
Uploading welcome-to-vibe-library-google-chrome-2021-02-17-12-35-46_GIOXnAWP.mp4…

[2021-02-17 07:21] kanak22 commented on #19
https://user-images.githubusercontent.com/62026983/108169519-d4ea1400-711e-11eb-8824-6e0652792ec2.mp4

[2021-02-17 07:22] kanak22 commented on #19
@urvashi-code1255  kindly check the demo video 😊

[2021-02-17 10:34] kmryashasvi opened #42 "Adding title icon"
## Is your feature request related to a problem? Please describe.
Icon of the webpage is not shown in title of the website.

## Describe the solution you'd like
I will add a logo to the website`

## Additional context
specimen:
![image](https://user-images.githubusercontent.com/66861659/108191941-b7767380-7139-11eb-8228-1647180d2f6b.png)
your website:
![image](https://user-images.githubusercontent

[2021-02-17 10:38] urvashi-code1255 commented on #19
Hey @kanak22 That's looking great!!

Please pull the recent changes from the upstream and then make a PR!!

[2021-02-17 10:39] kanak22 commented on #19
sure @urvashi-code1255 😊

[2021-02-17 10:45] urvashi-code1255 commented on #42
So @kmryashasvi will you design a favicon for the website?

[2021-02-17 10:51] #24 closed

[2021-02-17 10:51] kmryashasvi commented on #42
Yes

[2021-02-17 10:53] kmryashasvi commented on #42
I have already pulled today

[2021-02-17 10:54] urvashi-code1255 commented on #42
Okay go for it!!

[2021-02-17 10:57] kmryashasvi commented on #42
I will show you the icon first
once it is made

[2021-02-17 11:14] kmryashasvi commented on #42
Is it Okay?

[2021-02-17 11:14] kmryashasvi commented on #42
![image](https://user-images.githubusercontent.com/66861659/108196693-6b2e3200-713f-11eb-8203-69eb45c5ce7a.png)

[2021-02-17 12:59] kanishkaa24 commented on #29
Hey! Can I work on this?

[2021-02-17 16:15] #19 closed

[2021-02-17 16:17] urvashi-code1255 commented on #29
@kanishkaa24 Sure go for it!!

[2021-02-17 16:19] urvashi-code1255 commented on #42
Hey @kmryashasvi I just noticed that we have this issue earlier!! #29 So just ask me to assign it to you there!!

feel free to close this issue!

[2021-02-17 16:27] #42 closed

[2021-02-17 16:30] kmryashasvi commented on #29
![image](https://user-images.githubusercontent.com/66861659/108235061-7b5c0680-716b-11eb-8c16-037c184a8dcf.png)
please assign t to me and tell me if it is okay

[2021-02-17 16:56] kmryashasvi commented on #29
But I have a condition,
If you want to assign it to me,
then you have to unassign the rest of the people it is assigned earlier

[2021-02-17 16:59] kmryashasvi commented on #29
and i promise you to merge it within 12 hours of assigning

[2021-02-17 17:42] urvashi-code1255 commented on #29
Hey @kmryashasvi I always assign this type of issue to more than one person!

[2021-02-17 17:46] kmryashasvi commented on #29
Hello @urvashi-code1255
Please have a look at the favicon and tell me if it is okay

[2021-02-17 17:46] kmryashasvi commented on #29
This one

[2021-02-17 17:47] urvashi-code1255 commented on #29
Hey @kmryashasvi As navbar is also blue so this will not suit !!

[2021-02-17 17:50] kmryashasvi commented on #29
1. Give me a background colour
2. Do you like it's font/design?

[2021-02-17 17:50] urvashi-code1255 commented on #29
@kmryashasvi You can make an asset folder and a favicon folder inside it and add this favicon to it!

[2021-02-17 17:52] kmryashasvi commented on #29
Yes,
After you select a design I will do this
Don't worry about that

[2021-02-17 17:52] kmryashasvi commented on #29
But if I made a favicon,
All of them will get credit of it if they remain assigned

[2021-02-17 17:52] urvashi-code1255 commented on #29
Hey @kmryashasvi I like this one! you can make a pr for it!

[2021-02-17 17:53] urvashi-code1255 commented on #29
No @kmryashasvi They all will show their respective designs!

[2021-02-17 17:55] kanishkaa24 commented on #29
Mam please assign me.

[2021-02-17 17:57] #37 closed

[2021-02-17 17:57] kmryashasvi commented on #29
But you said, blue colour doesn't suit

[2021-02-17 17:58] urvashi-code1255 commented on #29
@kmryashasvi I mistakenly wrote that! I have edited that! Have a look!

[2021-02-17 18:02] kmryashasvi commented on #29
I will make a pr tomorrow
Making favicon folder and editing index.html

[2021-02-18 02:48] kmryashasvi commented on #29
Can you please allow uploading to your repo?
It is showing uploading is disabled.
Just for 5 minutes I will upload Favicon Folder That's all

[2021-02-18 03:00] kmryashasvi commented on #29
Comment when you enable it

[2021-02-18 08:13] kanishkaa24 commented on #29
![3](https://user-images.githubusercontent.com/71253790/108325542-2cf04b80-71ef-11eb-81c9-47a691423ce5.png)
![4](https://user-images.githubusercontent.com/71253790/108325550-2e217880-71ef-11eb-8d35-c9e6b5138b9a.png)
![5](https://user-images.githubusercontent.com/71253790/108325556-2f52a580-71ef-11eb-9e46-1c3bad56e5aa.png)
![6](https://user-images.githubusercontent.com/71253790/108325563-3083d280-7

[2021-02-18 08:14] kanishkaa24 commented on #20
Hello Mam. Can I work on this?

[2021-02-18 12:27] kanishkaa24 commented on #12
Hello, Can I work on this?

[2021-02-18 17:27] urvashi-code1255 commented on #20
@kanishkaa24 Yes you can go for it!

[2021-02-18 17:29] urvashi-code1255 commented on #29
Wow @kmryashasvi I love them all!! Add them to the asset folder!

[2021-02-18 17:30] urvashi-code1255 commented on #12
@kanishkaa24 Yes you can think of some creative things for footer

[2021-02-18 17:32] kmryashasvi commented on #29
I have pulled a request to do so
Please check and merge the folder,
So that, I can take link from there to merge in the index.html

[2021-02-18 19:10] kanishkaa24 commented on #29
@urvashi-code1255 Mam please review these too.

[2021-02-18 20:17] Sloth-Panda commented on #1
@urvashi-code1255  would like to take this issue

[2021-02-19 09:15] urvashi-code1255 commented on #29
@kanishkaa24 There are looking so cool!! You can make a PR!! Add them to the assets folder!

[2021-02-19 09:24] urvashi-code1255 commented on #1
You can take up this issue @Sloth-Panda !! Yeah we have one slack channel [this](https://app.slack.com/client/T01LQ8QJ50F/C01MHLK0AG1) is the link for it!

[2021-02-19 09:26] urvashi-code1255 commented on #1
Hey @VinayakChopra Are you gonna work on these?

[2021-02-19 09:30] urvashi-code1255 commented on #3
Hey @Mahindra-7 Any updates on this?

[2021-02-19 09:31] urvashi-code1255 commented on #2
Hey @suraj10k Any updates on this?

[2021-02-19 09:37] urvashi-code1255 opened #47 "Add Button is not responsive for small screens"
![Capture](https://user-images.githubusercontent.com/63122133/108486522-2d0e4b00-72c4-11eb-8fa7-00a84c4afa9a.PNG)

[2021-02-19 09:41] urvashi-code1255 opened #48 "Add different Languages Options in navbar"

[2021-02-19 09:43] urvashi-code1255 opened #49 "Add a Donate Book section to the navbar"
Add a Donate Book section to the navbar which will redirect the user to a new page having a form in it!

[2021-02-19 11:18] Sloth-Panda commented on #1
@urvashi-code1255 just wanted to know is not it's a lot of work to change bootstrap used in a website into css? cause bs classes themselves do a lot of work and wont it be sort of developing again the styling part?

[2021-02-19 11:26] VinayakChopra commented on #1
@urvashi-code1255
Yes, I'll start working on the add book button and start a PR within a day or two.

[2021-02-19 11:27] urvashi-code1255 commented on #1
Okay @VinayakChopra so make the respective issues first!

[2021-02-19 11:32] Nshah-02 commented on #48
can I work on this issue?

[2021-02-19 11:42] VinayakChopra opened #50 "Floating Add Book Button"
## Is your feature request related to a problem? Please describe.
Add Book Section Always occupying the top half of UI.

## Describe the solution you'd like
Floating Add Book Button on the lower right side of the UI, which on click opens like a chatbot with Book Details Displaying within a Container.

## Additional context
Open to Suggestions and Ideas to make implementation easier.

[2021-02-19 11:45] Sloth-Panda commented on #1
I dont feel like it's working can you check at @urvashi-code1255 . is there any discord?

[2021-02-19 13:16] soumya-badkul commented on #49
@urvashi-code1255 I would like to work on this

[2021-02-19 16:15] suraj10k commented on #2
Yes , I've decided to try and use local storage to store , the values , I'm able to store the entered values in local storage , now I'm just trying to figure out how I can persistently display the stored values

[2021-02-19 16:17] kanishkaa24 commented on #20
![Background](https://user-images.githubusercontent.com/71253790/108530867-0ec44180-72fc-11eb-80a1-a379cc3748cc.png)
Mam I have made this.

[2021-02-19 17:31] kanishkaa24 commented on #12
![Footer](https://user-images.githubusercontent.com/71253790/108539690-551e9e00-7306-11eb-97cb-dd0781bddc6b.gif)
@urvashi-code1255 mam please review.

[2021-02-19 20:16] urvashi-code1255 commented on #20
Hey @kanishkaa24 it's looking great try it yout on the website and show me!

[2021-02-19 20:18] urvashi-code1255 commented on #49
Sure @soumya-badkul go for it!

[2021-02-19 20:20] urvashi-code1255 commented on #50
It's a good idea @VinayakChopra go for it!

[2021-02-19 20:22] urvashi-code1255 commented on #48
Sure go for it @Nshah-02 first show your design here only then make a PR!

[2021-02-19 20:24] urvashi-code1255 commented on #1
Yes @Sloth-Panda it's a big task but for now the main thing is the navbar you can suggest a design for it!

[2021-02-19 20:24] urvashi-code1255 commented on #1
Will let you know tom

[2021-02-20 04:55] arbazalam01 commented on #47
Can i work on this issue

[2021-02-20 10:36] kanishkaa24 commented on #20
Okay Mam

[2021-02-20 10:55] urvashi-code1255 commented on #47
Yeah @arbazalam01 Sure go for it! Happy learning :)

[2021-02-20 17:50] kanishkaa24 commented on #20
![Screenshot (194)](https://user-images.githubusercontent.com/71253790/108604177-27069000-73d2-11eb-9fa3-78e83add3818.png)

[2021-02-20 20:01] #29 closed

[2021-02-20 20:06] urvashi-code1255 commented on #12
Hey @kanishkaa24 It's looking cool . Make a PR for it! I will review it!

[2021-02-21 11:54] urvashi-code1255 commented on #1
Hey @Sloth-Panda You can just ask any doubt in this issue thread!

[2021-02-23 06:34] #49 closed

[2021-02-26 11:50] urvashi-code1255 commented on #50
Any updates @VinayakChopra ?

[2021-02-26 11:52] urvashi-code1255 commented on #48
Any updates @Nshah-02 ?

[2021-02-26 14:52] Nshah-02 commented on #48
I'm working on it

On Fri, 26 Feb 2021, 5:23 pm Urvashi Anand, <notifications@github.com>
wrote:

[2021-02-27 07:19] nishant3721 commented on #12
Can I work on this??
I have also created my portfolio based site with awesome footer design. So, I'm sure, I can work on this also. Please assign it to me @urvashi-code1255

[2021-02-27 07:20] nishant3721 commented on #5
Can I work on this @urvashi-code1255

[2021-02-27 07:25] urvashi-code1255 commented on #5
Sure go for it @nishant3721

[2021-02-27 09:51] kiruba-r11 opened #56 "Add a poster for the project"
## Is your feature request related to a problem?
Adding a poster for this project to add in the README.md file

## Describe the solution you'd like
Please look at this poster
![IMG_20210227_150817](https://user-images.githubusercontent.com/76843281/109383848-48ee9e00-790f-11eb-9bdd-29bdde5f454a.jpg)

[2021-02-27 09:53] kiruba-r11 commented on #56
@urvashi-code1255 Please have a look at it and assign it to me

[2021-02-27 12:39] urvashi-code1255 commented on #56
Hi @kiruba-r11 this poster is looking pretty good to me. Have you design this?

[2021-02-27 12:48] kiruba-r11 commented on #56
@urvashi-code1255 Yes, can I work on this to add it in the README.md

[2021-02-27 13:19] urvashi-code1255 commented on #56
Sure go for it @kiruba-r11 . Add it before Contribution is fun! and adjust the height and width accordingly!

[2021-02-27 13:21] kiruba-r11 commented on #56
@urvashi-code1255 Sure, also is there any need for further posters, logos, or favicons, let me know, so that I can make all in one PR

[2021-02-27 13:27] #47 closed

[2021-02-27 17:12] #56 closed

[2021-02-27 17:21] urvashi-code1255 opened #58 "Putting the files in folders"
Deliverables:
1. Make a public folder and add all the html files in it except index.html
2. Make an img folder in the assets folder and add all the images in it.
3. Make a css folder in assets folder and put all the css files in it.
4. Make a js folder in assets folder and put all the js files in it.

Correct all the required links throughout all the files..

[2021-02-28 07:07] arbazalam01 commented on #58
Can you assign this to me

[2021-02-28 11:49] kiruba-r11 opened #59 "Add Tech Stacks Used in the project"
## Is your feature request related to a problem? Please describe.
Adding the tech stacks used to build this project

## Describe the solution you'd like
Please look at this screenshot
<img width="324" alt="Screenshot 2021-02-28 at 5 16 38 PM" src="https://user-images.githubusercontent.com/76843281/109417287-f5e91980-79e8-11eb-811c-fc86d4a9c315.png">
This is added after the poster and before the "C

[2021-02-28 11:49] kiruba-r11 commented on #59
@urvashi-code1255 Please look at this issue and assign it to me

[2021-02-28 12:32] urvashi-code1255 commented on #58
Sure @arbazalam01 Go for it!

[2021-02-28 12:34] urvashi-code1255 commented on #59
It's shown in the languages portion of a repo so I think it's not needed @kiruba-r11

[2021-02-28 12:43] kiruba-r11 commented on #59
Ok @urvashi-code1255

[2021-02-28 12:43] #59 closed

[2021-02-28 12:45] kiruba-r11 commented on #20
@urvashi-code1255 is this still open?

[2021-02-28 16:59] urvashi-code1255 commented on #20
@kanishkaa24 Please reduce the opacity of the image! Content is hiding.

[2021-02-28 16:59] urvashi-code1255 commented on #20
Its assigned to @kanishkaa24 .

[2021-03-02 08:18] arbazalam01 commented on #58
can you please add the difficulty label

[2021-03-03 08:51] kanishkaa24 commented on #20
Okay Mam

[2021-03-04 12:30] kanishkaa24 commented on #20
![image](https://user-images.githubusercontent.com/71253790/109964252-72df0080-7d13-11eb-9f91-0110dd4c9cc4.png)
Mam is this better?

[2021-03-04 14:14] QAZIMAAZARSHAD commented on #12
Hey Urvashi,
This is Qazi Maaz Arshad, I am a CrossWoC 2021 participant. Your project is very impressive, I have some amazing ideas to design a creative footer for this website, please assign me this issue I'm really interested to work on this issue.

[2021-03-04 16:47] urvashi-code1255 commented on #20
yes it is @kanishkaa24

[2021-03-04 20:51] pranabprohit opened #61 "Add a pre-loader"
Add a pre-loader/splash screen to the webpage.

[2021-03-04 20:53] pranabprohit commented on #61
@urvashi-code1255, I would like to work on this issue as a part of CWOC. Can you assign this issue to me.

[2021-03-05 11:32] arbazalam01 commented on #58
can you please check the PR

[2021-03-05 13:38] kmryashasvi opened #62 "Associating link of crosswoc website to its banner"
## Is your feature request related to a problem? Please describe.
No

I will associate link of the crosswoc website to its banner such that, if someone clicks the banner on readme file, it will redirect them to the website of crosswoc.

[2021-03-05 13:45] urvashi-code1255 commented on #61
@pranabprohit Sure go for it.

[2021-03-05 13:50] #58 closed

[2021-03-05 13:52] kmryashasvi commented on #62
Will you add label of crosswoc and difficulty label after completing the task?

[2021-03-05 13:53] QAZIMAAZARSHAD opened #63 "Add icon logo in title bar"
<img align="center" alt="Coding" width="100%" height="300" src="https://i.postimg.cc/9Fhnssyk/title-icon.png](https://postimg.cc/F1TpLWWb">

[2021-03-05 13:55] QAZIMAAZARSHAD commented on #63
Hey Urvashi,
I want to add this feature, please assign me this issue.

[2021-03-05 13:55] urvashi-code1255 commented on #63
Yes @QAZIMAAZARSHAD Please try out all the favicons present in the assets folder and show me the pictures here.

I will choose from them

[2021-03-05 14:22] QAZIMAAZARSHAD commented on #63
https://postimg.cc/YGvrxqKf

Image is available at the above link, image was not clearly visible here.

[2021-03-06 14:34] QAZIMAAZARSHAD commented on #63
@urvashi-code1255 so which one you have selected ?

[2021-03-06 15:59] kanishkaa24 commented on #20
Mam shall i make a PR?

[2021-03-06 16:14] urvashi-code1255 commented on #20
Yes go for it @kanishkaa24 :)

[2021-03-06 16:16] kanishkaa24 commented on #20
Mam only the png or the code too?

[2021-03-06 16:24] urvashi-code1255 commented on #20
Code too!

Apply it to the website @kanishkaa24 :)

[2021-03-06 16:39] kanishkaa24 commented on #20
Mam please accept the image PR so that I can use the url in the image.

[2021-03-06 16:44] urvashi-code1255 commented on #63
@QAZIMAAZARSHAD I think the first one is good to go!

You can make a PR for it

[2021-03-09 10:59] ayushrastogi689 commented on #3
I want to solve this issue kindly assign me this issue.

[2021-03-10 19:41] pranabprohit opened #68 "Add a go to top button to home page."
Add a go to top button so that we don't need to scroll the page everytime to go to the top of the page.

[2021-03-10 19:42] pranabprohit commented on #68
Hii @urvashi-code1255, I would like to work on this issue as a part of CWOC. Can you please assign this issue to me.

[2021-03-11 13:09] ambivert-sam commented on #12
I would want to work on this issue, can you please assign it to me?

[2021-03-11 13:10] ambivert-sam commented on #68
I would want to work on this issue, can you please assign it to me?

[2021-03-12 20:28] #63 closed

[2021-03-12 20:30] #62 closed

[2021-03-12 20:33] #61 closed

[2021-03-12 20:34] urvashi-code1255 commented on #68
@pranabprohit Please go for it :)

[2021-03-12 20:36] urvashi-code1255 commented on #12
@QAZIMAAZARSHAD @Thiyageshkanna @ambivert-sam You all can share your footer designs here!

[2021-03-12 20:37] urvashi-code1255 commented on #3
@ayushrastogi689 Sure go for it :)

[2021-03-13 03:24] QAZIMAAZARSHAD commented on #12
@urvashi-code1255 can you assign me this issue before I start working on it.

[2021-03-13 04:42] pranavi79 commented on #1
can I work on this issue?

[2021-03-13 07:59] QAZIMAAZARSHAD commented on #12
<img align="center" alt="Coding" width="100%" height="300" src="https://i.postimg.cc/JhLb06Ky/Screenshot-68.png](https://postimg.cc/JspydQfm">

@urvashi-code1255 I have also added scroll to top button in footer, so you should increase difficulty to medium or hard.
And assign me so that I can create a PR for it.

[2021-03-13 12:42] urvashi-code1255 commented on #1
@pranavi79 Sure go for it

[2021-03-13 12:43] urvashi-code1255 commented on #12
@QAZIMAAZARSHAD I don't want the footer to be this much large!

[2021-03-14 09:39] jayantjethi commented on #5
@urvashi-code1255  Mam I would like to Work on this issue. Could You Assign Me This??

[2021-03-15 11:20] urvashi-code1255 commented on #5
Sure go for it @jayantjethi :)

[2021-03-15 11:26] #20 closed

[2021-03-15 11:27] urvashi-code1255 opened #69 "Contributors Images"
Add contributors images in the readme

[2021-03-15 11:30] urvashi-code1255 commented on #3
@ayushrastogi689 Any Updates?

[2021-03-15 14:07] ayushrastogi689 commented on #3
Yes working on it got a little busy with my exams.

[2021-03-15 14:47] kanishkaa24 commented on #69
Mam Can I work on this?

[2021-03-15 14:54] kanishkaa24 opened #72 "Improvement in UI"
Mam I want to propose a new design for the website. I will also implement it if you will approve. Please assign if relevant. I am participating in GSSOC and CROSSWoC.

[2021-03-16 14:49] pri1311 opened #73 "On edit and save it create a new book entry"
## Describe the bug
When the user edits the book entry and clicks add book, a new book is created and the previous book remains as it is, however the previous book entry should be the one edited/ deleted.

## To Reproduce
Steps to reproduce the behavior:
1.
2.
3.
4.

## Expected behavior
A clear and concise description of what you expected to happen.

## Logs
If applicable, add logs to help explai

[2021-03-16 14:49] pri1311 commented on #73
Hi, I am participant at crosswoc and would like to work on this issue

[2021-03-16 20:30] ambivert-sam commented on #12
Done with footer design mam please review it

![Screenshot (153)](https://user-images.githubusercontent.com/74984661/111375566-67e98000-86c4-11eb-862a-8dc587f6751e.png)

[2021-03-16 21:12] #68 closed

[2021-03-16 21:14] #5 closed

[2021-03-16 21:15] urvashi-code1255 commented on #72
@kanishkaa24 You can surely implement it .

Let me tell you that this project is only the part of crosswoc and not of gssoc

[2021-03-16 21:17] urvashi-code1255 commented on #12
Yeah I like this one @ambivert-sam . You can come up with a PR

[2021-03-16 21:18] urvashi-code1255 commented on #69
Sure @kanishkaa24

[2021-03-17 03:51] jayantjethi commented on #3
@urvashi-code1255 Mam I can Work on this issue. Kindly Assign me.

[2021-03-17 04:21] kanishkaa24 commented on #12
@urvashi-code1255 Mam please check my PR as well.

[2021-03-17 10:02] ambivert-sam commented on #12
PR done @urvashi-code1255 mam

[2021-03-17 18:42] kanishkaa24 commented on #72
![UI](https://user-images.githubusercontent.com/71253790/111520799-74caaa00-877e-11eb-950d-5c5dd52d1648.png)

[2021-03-19 06:05] kanishkaa24 commented on #69
@urvashi-code1255 Mam please review my PR.

[2021-03-19 06:44] #69 closed

[2021-03-19 11:37] kishankr7979 opened #76 "Footer Updation"
## Describe the bug
The year Mentioned in the footer section is still outdated due to which it will impact the UX.

## Expected behavior
Latest Year should present inside the footer section.

## Environment (please complete the following information):
 - OS: Mac, GNU
 - Browser: Chrome

[2021-03-19 11:39] kishankr7979 commented on #76
hey @urvashi-code1255 Look into it to improve the UX of your Website.

[2021-03-22 19:12] jayantjethi commented on #3
@urvashi-code1255 mam please assign me.

[2021-03-23 07:33] arbazalam01 commented on #72
can i work on this issue

[2021-03-27 06:54] urvashi-code1255 commented on #3
Please go for it @jayantjethi.

[2021-04-22 07:46] Kritika-2000 commented on #76
Hello , I am a part of CrossWoc and I have a solution to this issue . Can you please assign it to me ?

[2021-04-22 07:55] Kritika-2000 commented on #76
@urvashi-code1255 Can you assign me this issue . I have a solution to it.

[2021-04-28 16:19] #72 closed

[2021-05-12 18:15] Kritika-2000 commented on #76
@urvashi-code1255 @kishankr7979  Please assign this task to me

[2021-07-26 01:33] Everen-John opened #77 "Addition of LocalStorage"
## Is your feature request related to a problem? Please describe.
There is not persisting storage for the added books in the system.

## Describe the solution you'd like
I would like to implement the LocalStorage system.

[2021-10-07 07:49] Shubham56-droid commented on #76
hi @urvashi-code1255 i would  like to update the footer pls assign issue to me.